<?xml version="1.0"?>
<robot name="dual_arm" xmlns:xacro="http://ros.org/wiki/xacro">
    <link name="world"/>

     <!-- wall behind robots -->
    <link name="base">
        <visual>
            <!-- <transparency value="0.8"/> -->
            <origin xyz="0 0.02 -.3" rpy="0 0 0" />
            <geometry>
                <box size="1.0 0.04 0.8" />
            </geometry>
            <material name="White">
                <color rgba="0.2 0.2 0.6 0.5" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.1 -.3" rpy="0 0 0" />
            <geometry>
                <box size="1.0 0.04 0.8" />
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
            <mass value="10.0"/>
            <inertia ixx="0.001" ixy="0.0" ixz="0.001" iyy="0.0" iyz="0.0" izz="0.001"/>
        </inertial>
    </link>

    <!-- table -->
    <link name="table">
        <visual>
            <!-- <transparency value="0.8"/> -->
            <origin xyz="0 -0.45 0" rpy="0 0 0" />
            <geometry>
                <box size="1.4 0.5 0.01" />
            </geometry>
            <material name="White">
                <color rgba="0.6 1.0 0.6 0.5" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.45 0" rpy="0 0 0" />
            <geometry>
                <box size="1.4 0.5 0.01" />
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0.0 -0.45 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="10.0"/>
            <inertia ixx="0.001" ixy="0.0" ixz="0.001" iyy="0.0" iyz="0.0" izz="0.001"/>
        </inertial>
    </link>

    <joint name="base_to_world" type="fixed">
        <parent link="world"/>
        <child link="base"/>
        <origin xyz="0 0 0.7" rpy="0 0 0"/>
    </joint>

    <joint name="table_to_world" type="fixed">
        <parent link="world"/>
        <child link="table"/>
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <!-- URs -->
    <xacro:arg name="description" default="UR"/>
    <xacro:include filename="$(arg description)/urdf/ur_macro.xacro"/>
    <xacro:arg name="ur_type" default="ur5e"/> 
    <xacro:arg name="force_abs_paths" default="false" />
    <xacro:arg name="joint_limit_params" default="$(arg description)/config/$(arg ur_type)/joint_limits.yaml"/>
    <xacro:arg name="kinematics_params" default="$(arg description)/config/$(arg ur_type)/default_kinematics.yaml"/>
    <xacro:arg name="physical_params" default="$(arg description)/config/$(arg ur_type)/physical_parameters.yaml"/>
    <xacro:arg name="visual_params" default="$(arg description)/config/$(arg ur_type)/visual_parameters.yaml"/>
    <xacro:arg name="transmission_hw_interface" default=""/>
    <xacro:arg name="safety_limits" default="false"/>
    <xacro:arg name="safety_pos_margin" default="0.15"/>
    <xacro:arg name="safety_k_position" default="20"/>

    <!-- Lightning -->
    <xacro:ur_robot
      name="lightning"
      tf_prefix="lightning_"
      parent="base"
      joint_limits_parameters_file="$(arg joint_limit_params)"
      kinematics_parameters_file="$(arg kinematics_params)"
      physical_parameters_file="$(arg physical_params)"
      visual_parameters_file="$(arg visual_params)"
      safety_limits="$(arg safety_limits)"
      safety_pos_margin="$(arg safety_pos_margin)"
      safety_k_position="$(arg safety_k_position)">
      <origin xyz="0.3715 0 0" rpy="2.208 1.561 0.622"/> 
    </xacro:ur_robot>
    
    <!-- Thunder -->
    <xacro:ur_robot
      name="thunder"
      tf_prefix="thunder_"
      parent="base"
      joint_limits_parameters_file="$(arg joint_limit_params)"
      kinematics_parameters_file="$(arg kinematics_params)"
      physical_parameters_file="$(arg physical_params)"
      visual_parameters_file="$(arg visual_params)"
      safety_limits="$(arg safety_limits)"
      safety_pos_margin="$(arg safety_pos_margin)"
      safety_k_position="$(arg safety_k_position)">
      <origin xyz="-0.3715 0 0" rpy="1.5708 -1.571 0.000"/>
    </xacro:ur_robot>

</robot>

